* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #545552;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.row {
  --bs-gutter-x: 0;
}

.navbar {
  background-color: #545552;
  color: white;
}
.navbar .container-logo-y-nombre {
  display: flex;
}
.navbar .container-logo-y-nombre .container-logo:hover {
  transition: all 300ms;
  transform: scale(1.05);
  color: black;
}
.navbar .container-logo-y-nombre .container-nombre {
  display: flex;
  align-items: center;
}
.navbar .container-logo-y-nombre .container-nombre h2 {
  margin: 0;
}
.navbar .navbar-nav a {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.1rem;
  color: white;
}
.navbar .navbar-nav a:hover {
  transition: all 300ms;
  transform: scale(1.05);
  color: black;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}

.nombre-y-eslogan {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.nombre-y-eslogan .video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nombre-y-eslogan .video-container video {
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 99.5%;
  transform: translate(-50%, -50%);
}
.nombre-y-eslogan .video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}
.nombre-y-eslogan img {
  height: 60vh;
  width: 100%;
}
.nombre-y-eslogan .contenido {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
}
.nombre-y-eslogan .custom-shape-divider-bottom-1712014893 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.nombre-y-eslogan .custom-shape-divider-bottom-1712014893 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 84px;
}
.nombre-y-eslogan .custom-shape-divider-bottom-1712014893 .shape-fill {
  fill: #545552;
}

.gradient {
  background: rgb(84, 85, 82);
  background: linear-gradient(180deg, rgb(84, 85, 82) 0%, rgb(113, 114, 111) 25%, rgb(136, 137, 134) 50%, rgb(167, 168, 165) 75%, rgb(184, 185, 182) 100%);
}

.presentacion {
  color: white;
}
.presentacion .col-presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
}
.presentacion img {
  width: 250px;
  height: 280px;
}

.servicios {
  margin-top: 110px;
  color: white;
}
.servicios .grid-container-servicios {
  display: grid;
  grid-template-areas: "header header" "texto1 imagen1" "imagen2 texto2";
  grid-template-columns: 50% 50%;
  padding: 0px 60px;
}
.servicios .container-parrafo1 {
  margin: 40px;
  font-size: 1.1rem;
}
.servicios .container-parrafo2 {
  margin: 40px;
  font-size: 1.1rem;
  text-align: end;
}
.servicios .container-imagen-general {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.servicios .container-imagen-general img {
  width: 250px;
  height: 250px;
}
.servicios .container-parrafo1 {
  grid-area: texto1;
}
.servicios .container-imagen1 {
  grid-area: imagen1;
}
.servicios .container-imagen2 {
  grid-area: imagen2;
}
.servicios .container-parrafo2 {
  grid-area: texto2;
}
.servicios .container-boton-servicios .btn-relojeria {
  align-self: flex-start;
}
.servicios .container-boton-servicios button {
  min-height: 40px;
  min-width: 80px;
  background-color: #545552;
  color: white;
  border: 0;
}
.servicios .container-boton-servicios button:hover {
  transition: all 300ms;
  transform: scale(1.05);
  color: black;
}
.servicios .custom-shape-divider-bottom-1712075548 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.servicios .custom-shape-divider-bottom-1712075548 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
}
.servicios .custom-shape-divider-bottom-1712075548 .shape-fill {
  fill: #2A2A28;
}

.gradient2 {
  background: rgb(42, 42, 40);
  background: linear-gradient(180deg, rgb(42, 42, 40) 0%, rgb(54, 54, 51) 25%, rgb(69, 69, 66) 50%, rgb(89, 89, 85) 75%, rgb(104, 104, 100) 100%);
  padding-bottom: 80px;
}

.destacados {
  height: 100vh;
  padding-top: 70px;
}
.destacados h2 {
  color: white;
}
.destacados .swiper-slide:not(.swiper-slide-active) {
  filter: blur(3px);
}
.destacados .swiper {
  width: 100%;
}
.destacados .swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}
.destacados .card {
  background-color: #D4C6AD;
  width: 20em;
  height: 90%;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}
.destacados .card_image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid #714B32;
  padding: 3px;
  margin-bottom: 2em;
}
.destacados .card_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.destacados .card_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.destacados .card_title {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.destacados .card_name {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #94764C;
}
.destacados .card_text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}
.destacados .card_btn {
  min-height: 40px;
  min-width: 80px;
  background-color: #714B32;
  color: white;
  border: 0;
  border-radius: 5px;
}
.destacados .card_btn:hover {
  transition: all 300ms;
  transform: scale(1.05);
  color: #D4C6AD;
}

.equipo h2 {
  color: white;
}
.equipo .card-equipo {
  width: 500px;
  height: 350px;
  background-color: #D4C6AD;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}
.equipo .card-equipo .img-card {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  border: 5px solid #714B32;
  padding: 3px;
}
.equipo .card-equipo .card-body {
  text-align: center;
}
.equipo .card-equipo .card-body .card-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.5rem;
}
.equipo .card-equipo .card-body .card-text {
  color: #94764C;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.equipo .col-equipo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opiniones {
  margin-top: 180px;
}
.opiniones .container-clientes {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.opiniones .title {
  color: white;
  text-align: center;
  font-size: 35px;
}
.opiniones .testimonials-slider {
  height: 350px;
}
.opiniones .swiper-wrapper {
  height: 30em;
}
.opiniones .testimonials {
  padding: 100px 0;
}
.opiniones .testimonials-item {
  background-color: #D4C6AD;
  max-height: 300px;
  padding: 30px;
  border-radius: 30px;
}
.opiniones .testimonials-item .info {
  display: flex;
  align-items: center;
}
.opiniones .testimonials-item img {
  border: 5px solid #714B32;
  padding: 1px;
  min-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}
.opiniones .testimonials-item .name {
  font-size: 24px;
}
.opiniones .testimonials-item .job {
  text-transform: capitalize;
  color: #94764C;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.opiniones .testimonials-item p {
  margin-top: 20px;
  color: hsl(0, 0%, 40%);
}
.opiniones .testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: #714B32;
}
.opiniones .swiper-pagination {
  position: relative;
  bottom: auto;
}
.opiniones .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: white;
}

.contact {
  background-image: url(../media/fondo-contacto.jpg);
  background-size: cover;
  padding-bottom: 35px;
}
.contact .custom-shape-divider-top-1712369854 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.contact .custom-shape-divider-top-1712369854 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 120px;
}
.contact .custom-shape-divider-top-1712369854 .shape-fill {
  fill: #686864;
}
.contact .titulo-contactanos {
  color: white;
}
.contact .container-informaciones {
  margin-bottom: 20px;
}
.contact .container-direccion {
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: white;
}
.contact .container-direccion p {
  margin: 0;
}
.contact .container-direccion i {
  margin-right: 10px;
}
.contact .container-direccion2 {
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: white;
}
.contact .container-direccion2 p {
  margin: 0;
}
.contact .container-direccion2 i {
  margin-right: 10px;
}
.contact .container-telefono {
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: white;
}
.contact .container-telefono p {
  margin: 0;
}
.contact .container-telefono i {
  margin-right: 10px;
}
.contact .container-nombre-y-mail {
  padding: 0;
}
.contact .container-nombre {
  align-items: center;
  margin: 5px 0px;
}
.contact .container-mail-texto {
  align-items: center;
  margin: 5px 0px;
}
.contact .container-boton button {
  min-height: 40px;
  min-width: 80px;
  background-color: #545552;
  color: white;
  border: 0;
}
.contact .container-boton button:hover {
  transition: all 300ms;
  transform: scale(1.05);
  color: black;
}

footer {
  position: absolute;
  background-color: #545552;
  color: white;
}
footer .container-mail-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container-mail-footer p {
  margin: 0 0 0 5px;
}
footer .col-redes a {
  color: white;
  text-decoration: none;
  margin-right: 8px;
  font-size: 1.5rem;
}
footer .col-redes a:hover {
  transition: all 300ms;
  transform: scale(1.05);
  color: black;
}
footer .autor a {
  text-decoration: none;
  color: white;
}
footer .autor a:hover {
  transition: all 300ms;
  transform: scale(1.05);
  color: black;
}

.main-relojes {
  background-color: black;
}
.main-relojes .titulo-marca {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.main-relojes .subtitulo-marca {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 40px;
}
.main-relojes #container-casio {
  padding-top: 40px;
}
.main-relojes #container-mistral {
  padding-top: 40px;
}
.main-relojes #container-prune {
  padding-top: 40px;
}
.main-relojes .col-relojes {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.main-relojes .col-relojes .card {
  border-radius: 20px;
}
.main-relojes .col-relojes .card img {
  height: 358px;
  width: 286px;
  border-radius: 20px;
}
.main-relojes .col-relojes .card-body h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.main-relojes .col-relojes .card-body h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.wpp-btn {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #545552;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 30px;
  z-index: -100;
}
.wpp-btn:hover {
  transition: all 300ms;
  background-color: white;
  color: black;
}

.aparecer {
  z-index: 100;
  animation: popup 0.3s ease-in-out;
}

@keyframes popup {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 25px;
    height: 25px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .equipo .col-equipo {
    margin-bottom: 20px;
  }
  /* contact */
  .container-contact {
    flex-direction: column;
  }
  .container-informaciones {
    flex-direction: column;
    margin: 30px 0px;
  }
  .container-direccion {
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .container-direccion p {
    margin: 0;
  }
  .container-direccion i {
    margin-right: 10px;
  }
  .container-mail {
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .container-mail p {
    margin: 0;
  }
  .container-mail i {
    margin-right: 10px;
  }
  .container-telefono {
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .container-telefono p {
    margin: 0;
  }
  .container-telefono i {
    margin-right: 10px;
  }
  .container-nombre-y-mail {
    flex-direction: column;
  }
  .container-nombre {
    margin-bottom: 6px;
  }
  .container-boton {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .servicios .grid-container-servicios {
    display: grid;
    grid-template-areas: "texto1 texto1" "imagen1 imagen1" "texto2 texto2" "imagen2 imagen2";
  }
  .servicios .container-imagen-general img {
    width: 200px;
    margin: 40px 0px;
  }
  .servicios .container-parrafo-general {
    align-items: center;
    text-align: center;
  }
  .servicios .parrafo2 {
    text-align: center;
  }
  .container-contact {
    flex-direction: column;
  }
  .container-informaciones {
    flex-direction: column;
  }
  .container-direccion {
    justify-content: center;
  }
  .container-mail {
    justify-content: center;
  }
  .container-telefono {
    justify-content: center;
  }
  .container-nombre-y-mail {
    flex-direction: column;
  }
  .container-nombre {
    margin-bottom: 6px;
  }
}

/*# sourceMappingURL=estilo.css.map */
