* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid black;
}
.navbar .container-logo-y-nombre {
  display: flex;
}
.navbar .container-logo-y-nombre .container-logo:hover {
  transition: all 300ms;
  transform: scale(1.15);
}
.navbar .container-logo-y-nombre .container-nombre {
  display: flex;
  align-items: center;
}
.navbar .container-logo-y-nombre .container-nombre h2 {
  margin: 0;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}

.nombre-y-eslogan {
  background-image: url(../media/borrarEsto.jpg);
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.nombre-y-eslogan img {
  height: 60vh;
  width: 100%;
}
.nombre-y-eslogan .contenido {
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
}

.presentacion {
  margin-top: 20px;
}
.presentacion .col-presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.presentacion img {
  width: 200px;
  height: 200px;
}

.productos {
  background-color: cadetblue;
  margin-top: 20px;
}
.productos .grid-container-productos {
  display: grid;
  grid-template-areas: "header header" "texto1 imagen1" "imagen2 texto2";
  grid-template-columns: 50% 50%;
  padding: 0px 60px;
}
.productos .container-parrafo-general {
  display: flex;
  justify-content: center;
  margin: 40px;
  font-size: 1.1rem;
}
.productos .parrafo2 {
  text-align: end;
}
.productos .container-imagen-general {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.productos .container-imagen-general img {
  width: 200px;
  height: 200px;
}
.productos .container-parrafo1 {
  grid-area: texto1;
}
.productos .container-imagen1 {
  grid-area: imagen1;
}
.productos .container-imagen2 {
  grid-area: imagen2;
}
.productos .container-parrafo2 {
  grid-area: texto2;
  align-items: end;
}
.productos .container-boton-productos .btn-relojeria {
  align-self: flex-start;
}
.productos .container-boton-productos button {
  min-height: 40px;
  min-width: 80px;
  background-color: violet;
  color: white;
  border: 0;
}
.productos .container-boton-productos button:hover {
  transition: all 300ms;
  transform: scale(1.15);
}

.container-boton button {
  min-height: 40px;
  min-width: 80px;
  background-color: red;
  color: white;
  border: 0;
}
.container-boton button:hover {
  transition: all 300ms;
  transform: scale(1.15);
}

.container-informaciones {
  margin-bottom: 20px;
  color: white;
}

.container-direccion {
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: black;
}
.container-direccion p {
  margin: 0;
}
.container-direccion i {
  margin-right: 10px;
}

.container-mail {
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: black;
}
.container-mail p {
  margin: 0;
}
.container-mail i {
  margin-right: 10px;
}

.container-telefono {
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: black;
}
.container-telefono p {
  margin: 0;
}
.container-telefono i {
  margin-right: 10px;
}

.container-nombre-y-mail {
  padding: 0;
}

.container-nombre {
  align-items: center;
  margin: 5px 0px;
}

.container-mail-texto {
  align-items: center;
  margin: 5px 0px;
}

@media only screen and (max-width: 1024px) {
  /* contact */
  .container-contact {
    flex-direction: column;
  }
  .container-informaciones {
    flex-direction: column;
    margin: 30px 0px;
  }
  .container-direccion {
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .container-direccion p {
    margin: 0;
  }
  .container-direccion i {
    margin-right: 10px;
  }
  .container-mail {
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .container-mail p {
    margin: 0;
  }
  .container-mail i {
    margin-right: 10px;
  }
  .container-telefono {
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .container-telefono p {
    margin: 0;
  }
  .container-telefono i {
    margin-right: 10px;
  }
  .container-nombre-y-mail {
    flex-direction: column;
  }
  .container-nombre {
    margin-bottom: 6px;
  }
  .container-boton {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .productos .grid-container-productos {
    display: grid;
    grid-template-areas: "texto1 texto1" "imagen1 imagen1" "texto2 texto2" "imagen2 imagen2";
  }
  .productos .container-imagen-general img {
    width: 200px;
    margin: 40px 0px;
  }
  .productos .container-parrafo-general {
    align-items: center;
    text-align: center;
  }
  .productos .parrafo2 {
    text-align: center;
  }
  .container-contact {
    flex-direction: column;
  }
  .container-informaciones {
    flex-direction: column;
  }
  .container-direccion {
    justify-content: center;
  }
  .container-mail {
    justify-content: center;
  }
  .container-telefono {
    justify-content: center;
  }
  .container-nombre-y-mail {
    flex-direction: column;
  }
  .container-nombre {
    margin-bottom: 6px;
  }
}

/*# sourceMappingURL=estilo.css.map */
