.equipo {

    h2 {
        color: white;
    }

    .card-equipo {
        width: 500px;
        height: 350px;
        background-color: #D4C6AD;
        border-radius: 2em;
        box-shadow: 0 0 2em rgba(0, 0, 0, .2);
        padding: 2em 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 2em;

        .img-card {
            width: 12em;
            height: 12em;
            border-radius: 50%;
            border: 5px solid #714B32;
            padding: 3px;
        }

        .card-body {
            text-align: center;

            .card-title {
                color: black;
                font-family: "Montserrat", sans-serif;
                font-weight: 800;
                font-style: italic;
                font-size: 1.5rem;
            }

            .card-text {
                color: #94764C;
                font-size: 1.3rem;
                font-family: "Poppins", sans-serif;
                font-weight: 200;
                font-style: normal;
            }
        }
    }

    .col-equipo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}