footer{
    position: absolute;
    background-color: #545552;
    color: white;

    .container-mail-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          margin: 0 0 0 5px;  
        }
    }

    .col-redes{
        a{
            color: white;
            text-decoration: none;
            margin-right: 8px;
            font-size: 1.5rem;
            &:hover{
                @include boton-agrandamiento();
            }
        }
    }

    .autor{
        a{
            text-decoration: none;
            color: white;
            &:hover{
                @include boton-agrandamiento();
            }
        }
    }

}
