:root {
    --bg-color: linear-gradient(147deg, #c6426e 0%, #642b73 74%);
    --box-shadow: 0px 14px 80px rgba(252, 56, 203, 0.227)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #545552;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: italic;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.row {
    --bs-gutter-x: 0;
}