.navbar{
    background-color: #545552;
    color: white;

    .container-logo-y-nombre{
        display: flex;

        .container-logo{
            &:hover{
                @include boton-agrandamiento()
            }
        }

        .container-nombre{
            display: flex;
            align-items: center;
            h2{
                margin: 0;
            }
        }
    }

    .navbar-nav {
        a{
            font-size: 1.1rem;
            color: white; 
            &:hover{
                @include boton-agrandamiento();
            }
        }
        
    }

    .navbar-collapse{
        flex-grow: 0;
    }
}