.navbar{
    background-color: white;
    border-bottom: 1px solid black;

    .container-logo-y-nombre{
        display: flex;

        .container-logo{
            &:hover{
                @include boton-agrandamiento()
            }
        }

        .container-nombre{
            display: flex;
            align-items: center;
            h2{
                margin: 0;
            }
        }
    }

    .navbar-collapse{
        flex-grow: 0;
    }
}