.presentacion {

    margin-top: 20px;

    .col-presentacion{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    img {
        width: 200px;
        height: 200px;
    }

}